.media-trailer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.main-trailer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.placeholder-images {
    display: flex;
    gap: 1rem;
    justify-content: center;
}